<html>
<head>
<title> BlackJack Game </title>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
<link rel = "stylesheet" href = "/html/stylesheet.css">
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
<script src="/html/domevents.js"></script>
<script src="/_ah/channel/jsapi"></script>
<script>
id = 0
function renderCards(cards, id) {
    for(var i = 0; i < cards.length; i++) {
        var card = "/images/deck/" + cards[i] + ".png";
        $("<img src= '" + card + "'class='card'/>").appendTo(id)
    }
}

function renderActions(actions, id) {
    for(var i = 0; i < actions.length; i++) {
        var action = actions[i];
        $("<input type = 'submit' class = 'action' value = '" + action +"'></input>").appendTo(id);
    }
    addActionListeners();
}

function renderTokens(tokens, id) {
    $(id).html("Tokens Remaining:" + tokens);
}

function addActionListeners() {
      $(".action").on("click",
                     function() {
                         var url = "/game/" + {{game_id}} + "/action";
                         var str = $(this).val().split(" ")
                         var action = str[0];
                         var value = 0
                         var game_id = {{game_id}}
                         value = str[1]
                         $.post(url, {"action":action, "value":value, "player":localStorage.getItem("player")})
                         .done(function(data) {
                                   var player = JSON.parse(data);
                                   renderTokens(player["tokens"], "#tokens")
                                   $("#actions").html("");
                              })
                         .fail(function() {alert("failed")})
                    })
}

function addNewPlayer(player_id) {
    var html = "<td><div class = 'info'>" 
             + "</div>"
             + "<div class='card_container' id =" 
             + player_id
             + "></div>"
             + "</td>"
    $(html).appendTo(".players")
}
</script>
</head>
<body> 
 <script type="text/javascript">
 function renderCards(cards, id) {
    for(var i = 0; i < cards.length; i++) {
        var card = "/images/deck/" + cards[i] + ".png";
        $("<img src= '" + card + "'class='card'/>").appendTo(id)
    }
 }

 function renderStatus(info, id) {
    alert("You " + info);
    $(info).appendTo(id)
 }

 function renderActions(actions, id) {
    for(var i = 0; i < actions.length; i++) {
        var action = actions[i];
        $("<input type = 'submit' class = 'action' value = '" + action +"'></input>").appendTo(id);
    }
    addActionListeners();
 }
  
  onOpened = function() {  
      //alert("opened")  
  }
  
  onClose = function() {  
      alert("closed")  
  }

  onMessage = function(m) {
     localStorage.setItem(id, m)
     player_data = JSON.parse(m.data);
     
     if('join' in player_data)
         addNewPayer(player_data['player_id'])

     if('actions' in player_data) {
         renderActions(player_data['actions'], '#actions')
     }

     if('cards' in player_data) {
        renderCards(player_data['cards'], "#" + player_data['player_id'])
     }

     if('status' in player_data) {
         renderStatus(player_data['status'], '#tokens')
     }
     
     if('tokens' in player_data) {
         renderTokens(player_data['tokens'], '#tokens')
     }
  }
 
  openChannel = function() {
        var token = '{{ channel_token }}';
        var channel = new goog.appengine.Channel(token);
        var socket = channel.open();
        socket.onopen = onOpened;
        socket.onmessage = onMessage;
       // socket.onclose = onClose;
      }
 
  setTimeout(openChannel, 100);
 </script>
  <table id ="bjtable" width=100% border = 1>
   <tr>
   <td class = "dealer" colspan = {{count}}>
   <div class="card_container" id = "dealer">
        {% for card in dealer_cards %}
           <img src="/images/deck/{{card}}.png" class="card"/>
        {% endfor %}
   </div>
   </tr>
   <tr class = "players"> 
   {% for player in players %} 
       <td>
       <div class="card_container" id = {{ player.player_id }}>
          {% if player.player_id == cur_player_id%}
              <div class = "info" id = "tokens">
              Tokens Remaining:  {{tokens}} 
          {% else %}
              <div class = "info">
          {% endif %}
           {% if player.status == "Win" or player.status == "Lost" %}
                <br>Result: {{player.status}}
           {% endif %}
          </div>
         {% for card in player.cards %}
            <img src="/images/deck/{{card}}.png" class="card"/>
         {% endfor %}
       </div>
       </td>
   {% endfor %}
  {% if actions %}
  <tr>
  <td align = "center" id = "actions" colspan = {{count}}>
        {% for action in actions %}
           <input type = "submit" class = "action" value = "{{action}}" > </input>
        {% endfor %}
   </td>
   {% endif %}
  </tr>
</table>
<script>
   addActionListeners();
</script>
</body>
</html>